//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

//normalize
@import "./base/normalize.scss";

// setups
@import "./base/fonts.scss";
@import "./base/layout.scss";

// blocks
@import "./blocks/hero.scss";
@import "./blocks/best.scss";
@import "./blocks/reviews.scss";
@import "./blocks/header.scss";
@import "./blocks/map.scss";
