@font-face {
  font-family: "Lifehack";
  src: url("/css/fonts/lifehack_medium-webfont.woff2") format("woff2"),
    url("/css/fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gagalin';
  src: url("/css/fonts/gagalin-regular-webfont.woff2") format("woff2"),
    url("/css/fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntubold";
  src: url("/css/fonts/ubuntu-b-webfont.woff2") format("woff2"),
    url("/css/fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntulight";
  src: url("/css/fonts/ubuntu-light-webfont.woff2") format("woff2"),
    url("/css/fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntumedium";
  src: url("/css/fonts/ubuntu-light-webfont.woff2") format("woff2"),
    url("/css/fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubunturegular";
  src: url("/css/fonts/ubuntu-regular-webfont.woff2") format("woff2"),
    url("/css/fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
